.Cassette {
    width: auto;
    height: auto;
    background-color: #f5dec6;
}

/* @media (prefers-reduced-motion: no-preference) { */
.NudgeFwd {
    animation: spin infinite var(--animation-duration) linear;
    animation-play-state: var(--play);
}

.NudgeBack {
    animation: spin infinite var(--animation-duration) linear;
    animation-play-state: var(--play);
    animation-direction: reverse;
}

/* } */

@keyframes spin {
    from {
        transform-box: fill-box;
        transform-origin: center;
        transform: rotate(0deg);  
    }
    to {
        transform-box: fill-box;
        transform-origin: center;
        transform: rotate(360deg);
    }
}