.Cassette {
    width: 100%;
    height: auto;
}

/* @media (prefers-reduced-motion: no-preference) { */
.Nudge {
    animation: spin infinite var(--animation-duration) linear;
    animation-play-state: var(--play);
}
/* } */

@keyframes spin {
    from {
        transform-box: fill-box;
        transform-origin: center;
        transform: rotate(0deg);  
    }
    to {
        transform-box: fill-box;
        transform-origin: center;
        transform: rotate(360deg);
    }
}