.Cassette {
    width: auto;
    height: auto;
    background-color: #f5dec6;
}

/* @media (prefers-reduced-motion: no-preference) { */
.NudgeFwd-Tape1 {
    animation: spin infinite var(--animation-duration-Tape1) linear;
    animation-play-state: var(--play-Tape1);
}

.NudgeBack-Tape1 {
    animation: spin infinite var(--animation-duration-Tape1) linear;
    animation-play-state: var(--play-Tape1);
    animation-direction: reverse;
}

/* @media (prefers-reduced-motion: no-preference) { */
.NudgeFwd-Tape2 {
    animation: spin infinite var(--animation-duration-Tape2) linear;
    animation-play-state: var(--play-Tape2);
}

.NudgeBack-Tape2 {
    animation: spin infinite var(--animation-duration-Tape2) linear;
    animation-play-state: var(--play-Tape2);
    animation-direction: reverse;
}

/* } */

@keyframes spin {
    from {
        transform-box: fill-box;
        transform-origin: center;
        transform: rotate(0deg);  
    }
    to {
        transform-box: fill-box;
        transform-origin: center;
        transform: rotate(360deg);
    }
}